/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(0, 0, 0);
  color: rgb(231, 231, 231);
  scroll-behavior: smooth;
}
